<a href="https://colab.research.google.com/github/Sudheer-Arora/List-Programs/blob/main/ass1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
L=[11,12,13,14]
L.append(50)
L.append(60)
print(L)

[11, 12, 13, 14, 50, 60]

In [ ]:
L.remove(11)
L.remove(13)
print(L)

[12, 14, 50, 60]

In [ ]:
A=[1,12,5,14]

In [ ]:
A.sort()
print(A)

[1, 5, 12, 14]

In [ ]:
A.sort(reverse=True)
print(A)

[14, 12, 5, 1]

In [ ]:
if 13 in A:
  print("13 is present in the list")
else:
  print("13 is not there")

13 is not there

In [ ]:
print(len(L))

4

In [ ]:
print(sum(L))

136

In [ ]:
odd_sum=sum(n for n in L if n%2!=0)
print(odd_sum)

0

In [ ]:
even_sum=sum(n for n in L if n%2==0)
print(even_sum)

136

In [ ]:
s=0
for i in L:
  c=0
  for j in range(2,i+1):
    if i%j==0:
      c=c+1
  if c==2:
    s=s+1
print(s)

0

In [ ]:
print(L.clear())

None

In [ ]:
print(L)

[]

In [ ]:
del(L)

In [ ]:
D={1:5.6,2:7.8,3:6.6,4:8.7,5:7.7}
print(D)

{1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}

In [ ]:
D[8]=8.8
print(D)

{1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

In [ ]:
if 2 in D:
    del D[2]
print(D)

{1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

In [ ]:
if 6 in D:
    print("present")
else:
    print("not present")

not present

In [ ]:
n=len(D)
print(n)
if n in D:
    print("present")
else:
    print("not present")

5
present

In [ ]:
s=sum(D.values())
print(s)

37.4

In [ ]:
print(D)
D[3]=7.1
print(D)

{1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}
{1: 5.6, 3: 7.1, 4: 8.7, 5: 7.7, 8: 8.8}

In [ ]:
D.clear()
print(D)

{}

In [ ]:
S1={10,20,30,40,50,60}
S2={40,50,60,70,80,90}

In [ ]:
S1.add(55)
S1.add(66)
print(S1)

{50, 66, 20, 55, 40, 10, 60, 30}

In [ ]:
S1.discard(10)
S1.discard(30)
print(S1)

{50, 66, 20, 55, 40, 60}

In [ ]:
if 40 in S1:
    print("present")
else:
    print("not present")

present

In [ ]:
Union_Set=S1.union(S2)
print(Uni_Set)

{66, 70, 40, 80, 50, 20, 55, 90, 60}

In [ ]:
Intersection_Set=S1.intersection(S2)
print(Intersection_Set)

{40, 50, 60}

In [ ]:
Difference_Set=S1.difference(S2)
print(Difference_Set)

{66, 20, 55}

In [ ]:
import random

In [ ]:
def generate_random_list():
    return [random.randint(10, 30) for i in range(10)]

In [ ]:
L1=generate_random_list()
L2=generate_random_list()

In [ ]:
print(L1)
print(L2)

[13, 28, 24, 21, 25, 19, 18, 20, 30, 18]
[12, 22, 10, 24, 24, 21, 16, 19, 19, 30]

In [ ]:
common_numbers=list(set(L1).intersection(set(L2)))
print(common_numbers)

[24, 19, 21, 30]

In [ ]:
unique_L1=[x for x in L1 if x not in L2]
unique_L2=[x for x in L2 if x not in L1]
unique_numbers=unique_L1+unique_L2
print(unique_numbers)

[13, 28, 25, 18, 20, 18, 12, 22, 10, 16]

In [ ]:
min_L1=min(L1)
min_L2=min(L2)
print(min_L1)
print(min_L2)

13
10

In [ ]:
max_L1=max(L1)
max_L2=max(L2)
print(max_L1)
print(max_L2)

30
30

In [ ]:
sum_L1=sum(L1)
sum_L2=sum(L2)
print(sum_L1)
print(sum_L2)

216
197

In [ ]:
import random

In [ ]:
random_numbers=[random.randint(100,900) for i in range(100)]

In [ ]:
def prime(num):
    if num<=1:
        return False
    if num==2:
        return True
    if num%2==0:
        return False
    i=3
    while i*i<=num:
        if num%i==0:
            return False
        i+=2
    return True

In [ ]:
odd_count=0
even_count=0
prime_numbers=[]
for num in random_numbers:
    if num%2==0:
        even_count+=1
    else:
        odd_count+=1

    if prime(num):
        prime_numbers.append(num)

In [ ]:
print(random_numbers)
print(odd_count)
print(even_count)
print(prime_numbers)

[124, 523, 750, 342, 601, 101, 734, 575, 661, 801, 258, 208, 128, 259, 133, 325, 861, 860, 453, 739, 356, 212, 334, 869, 643, 655, 545, 119, 363, 294, 120, 664, 382, 414, 628, 889, 240, 717, 556, 891, 230, 860, 416, 770, 592, 416, 487, 773, 237, 461, 147, 609, 200, 232, 700, 177, 842, 353, 762, 702, 676, 248, 841, 637, 515, 202, 450, 289, 713, 595, 684, 721, 839, 344, 781, 179, 218, 460, 797, 393, 108, 190, 205, 886, 541, 393, 255, 519, 230, 260, 605, 857, 230, 221, 468, 374, 727, 664, 545, 478]
51
49
[523, 601, 101, 661, 739, 643, 487, 773, 461, 353, 839, 179, 797, 541, 857, 727]

In [ ]:
D={1:"One",2:"Two",3:"Three",4:"Four",5:"Five"}

In [ ]:
file_name="demo.txt"

In [ ]:
with open(file_name,'w') as f:
    for key,value in D.items():
        f.write(f"{key},{value}\n")
print(f"Data has been written to {file_name}")

Data has been written to demo.txt

In [ ]:
L=["One","Two","Three","Four","Five"]

In [ ]:
def write_lengths_to_file(lst,filename):
    with open(filename,'w') as f:
        for item in lst:
            length=len(item)
            f.write(f"{item},{length}\n")

In [ ]:
filename="element_lengths.txt"

In [ ]:
write_lengths_to_file(L,filename)

In [ ]:
print(f"Element lengths written t{filename}")

Element lengths written telement_lengths.txt